.mt_5 {
    margin-top: 5rem;
}
.invalid {
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: -1rem;
    font-size: 0.875em;
    color: #dc3545;
}

.form-floating .form-control{
    border: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
}
