.mt_5 {
    margin-top: 5rem;
}
.rating{
    list-style-type: none;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.zoom img {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.view .mask {
    background-attachment: fixed;
    bottom: 0;
}
.view img, .view video {
    position: relative;
    display: block;
}
.rgba-black-slight, .rgba-black-slight:after {
    background-color: rgba(0, 0, 0, .1);
}
.overlay .mask:hover {
    opacity: 1;
}
.price{
    font-size: 20px;
}
